astroid==2.5.2
audioplayer==0.6
certifi==2020.12.5
chardet==4.0.0
elasticsearch==7.11.0
elasticsearch-dsl==7.3.0
gobject==0.1.0
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
numpy==1.20.2
pandas==1.2.3
pgi==0.0.11.2
Pillow==8.2.0
pycairo==1.20.0
PyGObject==3.40.1
pylint==2.7.4
PySimpleGUI==4.38.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
six==1.15.0
spotipy==2.18.0
toml==0.10.2
typed-ast==1.4.2
urllib3==1.26.3
vext==0.7.6
vext.gi==0.7.4
wrapt==1.12.1
